@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.navbar-brand img {
    display: block;
    max-height: 3rem;
    width: auto;
}

.top-nav {
    background-color: #fff;
    min-height: 100px;
}

.hero {
    background-image: url(https://f.hubspotusercontent40.net/hub/2577343/hubfs/new%20website%20hero%20background%20image%20%281%29.png?width=1440&name=new%20website%20hero%20background%20image%20%281%29.png);
    width: 100%;
    height: 100%;
    min-height: 900px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text {
    padding-top: 20rem !important;

}

.banner {
    padding: 100px 20vh;
}

.built4-container {
    background-image: url(https://f.hubspotusercontent40.net/hub/2577343/hubfs/Brand2Files/Untitled%20design%20%2829%29.png?width=2880&name=Untitled%20design%20%2829%29.png);

}

.ready-to-hire-container img {
    width: 100%;
    height: 100%;


}

.train-for-workforce-container {
    width: 100%;
    height: 100%;
}

.featured-testimonial-container {
    padding-top: 6.25rem !important;
    padding-bottom: 6.25rem !important;

}

.ready2-container {
    max-width: 100%;
    margin: 0xp 0px 10px;
}

.ready2-container h5 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.75rem;
    margin: 0px 0px 12px;
}

h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    padding: 0px 0px 20px;
}

video {

    width: 500px;
    max-width: 100%;
}


.footer-container {
    background-color: #fff;
}

.footer-container img {
    height: 86px;
}

.social-nav i {
    padding: 6px;
    width: 35px;

}